/*-----------------------------------Explore*/

.btn-home-explore {
    @include homeButton("../images/home-explore.jpg");
}

.btn-home-navigate {
    @include homeButton("../images/home-navigate.jpg");

    .home-enter {
        position: fixed;
        top: 55%;
        left: 0;
        right: 0;
        text-transform: none;
        font-size: 18px;
    }
}

.button-explore-cities {
    @include exploreButton($btn_cities);
}

.button-explore-culture {
    @include exploreButton($btn_culture);
}

.button-explore-food {
    @include exploreButton($btn_food);
}

.button-explore-shopping {
    @include exploreButton($btn_shopping);
}